*,
*::before,
*::after {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
    font-size: 62.5%;  /* Root Font Size (1rem = 10px) */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #000000;
    box-sizing: border-box;  /* Border & Padding included in Width & Height */
}

._0471 {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._0471 > * {
    font-size: 2.6rem;
    padding: .5rem;
}

._0471-sect_1 {
    /* background-color: #00FFFF; */
    background-color: #222222;
    grid-column: full-start / full-end;
}

._0471-sect_1-topnav {
    /* Add a purple background color to the top navigation */
    /* background-color: #9327D6; */
    background-color: inherit;  /* Takes background colour set on its parent */
    padding: 1.2rem;  /* Creates space inside the navbar (optional, but recommended!) */

    position: relative;  /* Used to position responsive dropdowns (required) */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 65.625em) {  /* 1050px */
    ._0471-sect_1-topnav {
        display: none;
    }
}

._0471-sect_1-topnav__logo-link {
    /* font-family: 'Oleo Script', system-ui; */
    font-size: 3.5rem;
    font-weight: 700;
    color: #C2B41B;
    letter-spacing: .3rem;
    display: inline-block;
    text-decoration: none;

    /* margin-left: 3rem; */
    margin-left: 4%;
}

._0471-sect_1-topnav__link-box {
    background-color: #00FF00;

    /* flex: 0 0 90%; */
    flex: 0 0 30%;

    display: flex;
    justify-content: center;

    column-gap: 2.8rem;  /* Creates space between links */
}

._0471-sect_1-topnav__link {
    /* font-size: 1.4rem; */
    font-size: 2.5rem;
    /* color: #FFFFFF; */
    color: #C2B41B;
    display: inline-block;
    text-decoration: none;
}

._0471-sect_1-topnav__link:hover {
    color: #FFFF00;
}


/* Mobile Navbar */
._0471-sect_1-topnav-mobilenav {
    /* Add same background color to mobile navigation */
    /* background-color: #9327D6; */
    background-color: inherit;  /* Takes background colour set on its parent */

    /* padding: .55rem 0;  Top and bottom padding increases height (optional) */
    
    padding: 1.5rem;  /* Prevents logo and icon being too close to edge of viewport */

    display: none;  /* Required */
}

@media only screen and (max-width: 65.625em) {  /* 1050px */
    ._0471-sect_1-topnav-mobilenav {
        display: block;
    }
}

._0471-sect_1-topnav-mobilenav__mobile-menu {
    /* background-color: #0000FF;  // Testing */
    /* background-color: #9327D6; */
    background-color: #222222;

    display: none;  /* Required */
}

@media only screen and (max-width: 65.625em) {  /* 1050px */
    ._0471-sect_1-topnav-mobilenav__mobile-menu {
        display: block;
    }
}

._0471-sect_2 {
    background-color: #808080;
    grid-column: full-start / full-end;
}